<div class="col-xl-10 col-md-9 col-sm-12 " style="margin-top: 130px;">
  <main class="card">
    <div class="row no-gutters">
      <aside class="col-sm-6 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div>
              <a href="{{ object.image.url }}" data-fancybox=""
                ><img src="{{ object.image.url }}" class="img-fluid"
              /></a>
            </div>
          </div>
        </article>
        <!-- gallery-wrap .end// -->
      </aside>
      <aside class="col-sm-6">
        <article class="card-body">
          <!-- short-info-wrap -->
          <h3 class="title mb-3">{{object.title}}</h3>

          <div class="mb-3">
            <var class="price h3 text-warning">
              <span class="currency"> GH₵ </span><span class="num">{{object.price}}</span>
            </var>
            <!-- <span>/per kg</span> -->
          </div>
          <!-- price-detail-wrap .// -->
          <dl>
            <dt>Description</dt>
            <dd>
              <p>
                    {{ object.description }}
              </p>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Model#</dt>
            <dd class="col-sm-9">12345611</dd>

            <dt class="col-sm-3">Color</dt>
            <dd class="col-sm-9">Black, Orange, Navy Blue, Royal Blue and white</dd>

            <dt class="col-sm-3">Delivery</dt>
            <dd class="col-sm-9">Nationwide and outside Ghana</dd>
          </dl>
          <!-- rating-wrap.// -->
          <hr />
          {%include 'snippet/updatecart.html' with product=object cart=cart%}
          <!-- short-info-wrap .// -->
        </article>
        <!-- card-body.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </main>
  <!-- card.// -->
</div>
