{%url 'lists' as  products_list_url %}

<form
  class="addtoCart"
  action="{%url 'cart:update'%}"
  data-endpoint='{%url "cart:update"%}'
  method="POST"
  style="display: inline-block"
>
  {%csrf_token%}
  <input type="hidden" name="product_id" value="{{ product.id }}" />


  <div class="row mb-5">
    <div class="col-sm-4">
      <label>Quantity</label>
      <select class="form-control" id="type">
        <option selected='true' disabled='disabled'>QUANTITY</option>
        {% for key,value in quantity.items %}
        <option value="{{key}}">{{value}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="col-sm-4">
      <label>Sizes</label>
      <select class="form-control" id="">
        <option selected='true' disabled='disabled'>Sizes (All)</option>
        {% for key,value in size.items %}
        <option value="{{key}}">{{value}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="col-sm-4">
      <label>Color</label>
      <select class="form-control" id="type">
        <option selected='true' disabled='disabled'>Color</option>
        {% for key,value in color.items %}
        <option value="{{key}}">{{value}}</option>
        {%endfor%}
      </select>
    </div>
  </div>


  <span class="submit-span">
    {% if product in cart.products.all %}
    <button class="btn btn-md  btn-outline-danger" type="submit">
      × Remove
    </button>

    {%else%}
    <button class="btn btn-md  btn-outline-primary" type="submit">
      ADD TO CART
   
    </button>
    {%endif%}
  </span>

    <a href="/products" class="btn btn-md  btn-outline-success" >
      CONTINUE SHOPPING
    </a>

</form>
